<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirect to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Set some PHP values
<IfModule mod_php7.c>
    php_value display_errors 0
    php_flag log_errors on
</IfModule>

<IfModule mod_php.c>
    php_value display_errors 0
    php_flag log_errors on
</IfModule>
