.theme-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.theme-toggle {
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

.theme-toggle__expand {
    width: 1.5rem !important;
    height: 1.5rem !important;
} 