.workout-container {
    max-width: 1200px;
    margin: auto;
}

.workout-card {
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s ease-in-out;
}

.workout-card:hover {
    transform: scale(1.05);
}

.btn-lg {
    font-size: 1.2rem;
    font-weight: bold;
}

.history-container {
    margin-top: 20px;
}

.workout-card {
    width: 100%;
    max-width: 450px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.workout-card p {
    margin-bottom: 5px;
}
.card-body {
    min-height: 250px; /* Ajustar la altura según el contenido */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Animación de expansión del botón */
@keyframes expandButton {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Estilo para el botón "Seleccionar" */
.select-button {
    transition: transform 0.2s ease-in-out;
}

.select-button:hover {
    animation: expandButton 0.5s ease-in-out infinite;
}

/* Animación del desplegable */
@keyframes dropdownAnimation {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Estilo para el formulario */
.select-dropdown {
    animation: dropdownAnimation 0.3s ease-out;
}
