.workout-container {
    max-width: 1200px;
    margin: auto;
}

.workout-card {
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s ease-in-out;
}

.workout-card:hover {
    transform: scale(1.05);
}

.btn-lg {
    font-size: 1.2rem;
    font-weight: bold;
}


.history-container {
    margin-top: 20px;
}

.workout-card {
    width: 100%;
    max-width: 450px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
